html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 800px;
    padding: 15px 160px ;
    background: linear-gradient(60deg, rgba(244, 249, 226, 1) 50%, rgba(0, 0, 0, 0)  90%);
}

.icon-word {
    color: #62D0DF;
    font-size: 24px;
    font-weight: bold;
}

.contact-btn {
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    color: #ffffff;
    background-color: #62D0DF;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 180px;
}

.header-navigation {
    display: flex;
    font-size: 14px;
}

.header-navigation > li {
    padding: 10px 10px;
}

.header-navigation > .selected {
    font-weight: bold;
    border-bottom: solid 2px #22356F;
}

.header-navigation > .nav-item > a {
    color: #22356F;
}

.header-promo {
    display: flex;
    width: 510px;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #22356F;
    padding-bottom: 60px;
}

.header-description {
    font-size: 24px;
    line-height: 200%;
    padding-bottom: 50px;
    color: #22356F;
}

.who_what-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    padding-bottom: 60px;
}

.who {
    width: 150px;
    height: 50px;
    background-color: #F9B640;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

.what {
    width: 150px;
    height: 50px;
    color: #FAB63E;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}


.header-background{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 800px;
    width: auto;
}

.women-container {
    display: flex;
    background-color: #62D0DF;
    color: #ffffff;
    height: 600px;
    align-items: center;
}

.women-question {
    padding-bottom: 75px;
    font-weight: bold;
    font-size: 36px;
}

.women-description {
    width: 65%;
    /* padding: 150px; */
    padding: 0px 150px;
    font-size: 20px;
    line-height: 35px;
}

.women-description b {
    font-size: 24px;
}

.women-image {
    /* background-color: #F9B640; */
    height: 100%;
    width: 35%;
}

.women-image img {
    height: 100%;
}

.about-us {
    display: grid;
    padding: 150px 100px 50px 100px;
    grid-template-columns: 2fr 3fr 2fr;
}

.about-us p {
    color: #22356F;
}

.about-description {
    font-size: 24px;
    line-height: 120%;
}

.help-container p {
    text-align: center;
    font-size: 16px;
    color: rgba(34, 53, 111, 0.5);
    padding: 25px;
}

.help-container ul {
    display: flex;
}

.help-container li {
    display: block;
    width: 25vw;
    aspect-ratio: 1/1;
    padding-top: 95px;
    text-align: center;
}

.help-container li span {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    border-top: solid 1px #ffffff;
    padding: 25px 15px 0px 15px;
}

.help-container li:nth-child(1) {
    background-color: rgba(255, 226, 222, 1);
}

.help-container li:nth-child(2) {
    background-color: rgba(196, 231, 105, 1);
}

.help-container li:nth-child(3) {
    background-color: rgba(98, 208, 223, 1);
}

.help-container li:nth-child(4) {
    background-color: rgba(0, 82, 193, 1);
}

.help-container li::before {
    color: rgba(233, 183, 48, 1);
    content: "●";
    /* padding-right: 15px; */
}

